<dl>
<dt>What is this site?</dt>
<dd>This is a site that provides users with maps that help them find
places to live, work or holiday.</dd>

<dt>How do I use it?</dt>
<dd>Put in a postcode for your home or your place of work. When the map
appears, it will show you everywhere else in the UK that you could
start from in order to reach your chosen location by public transport by 9am. So, if you
put in your place of work, it&rsquo;ll show you everywhere you could live in
order to have a public transport commute that would take less than an hour.</dd>

<dt>What happens if I move the slider?</dt>
<dd>The slider changes the amount of time it takes to get to the
destination you&rsquo;ve chosen. So if you set it to 30 minutes, it&rsquo;ll show
you everywhere you can start if you want to get to the destination by
8.30am.</dd>

<dt>How do I use it to help me house hunt?</dt>
<dd>Put in the postcode of your place of work. Move the slider to the
length of commute that you&rsquo;re willing to tolerate. House hunt only in
places highlighted.</dd>

<dt>How can it help me job hunt?</dt>
<dd>Put in the postcode of your current home. Move the slider to the
length of commute that you&rsquo;re willing to tolerate. Job hunt only in
places highlighted.</dd>

<dt>How can it help me holiday?</dt>
<dd>Put in the postcode of your current home. Zoom out so you can see
more of the country. Then set the slider to an acceptable number of
hours you&rsquo;re willing to travel to go on your holiday.</dd>

<dt>Where does the data come from?</dt>
<dd>The National Public Transport Data Repository. We had to buy it
from this public body for nearly £9000 quid, just so you can have this
service for free. Dumb, eh?</dd>

<dt>Who are you?</dt>
<dd>We are <a href="http://www.mysociety.org/">mySociety</a>.</dd>

</dl>
