<dl>
<dt>What is this site?</dt>
<dd>This is a site that provides users with maps that help them find
places to live, work or holiday.</dd>

<dt>How do I use it?</dt>
<dd>Put in a postcode for your home or your place of work. When the map
appears, it will show you everywhere else in the UK that you could
start from in order to reach your chosen location by public transport by 9am. So, if you
put in your place of work, it&rsquo;ll show you everywhere you could live in
order to have a public transport commute that would take less than an hour.</dd>

<dt>What happens if I move the slider?</dt>
<dd>The slider changes the amount of time it takes to get to the
destination you&rsquo;ve chosen. So if you set it to 30 minutes, it&rsquo;ll show
you everywhere you can start if you want to leave after
8.30am.</dd>

<h2>How to use the maps</h2>

<dt>How do I use it to help me house hunt?</dt>
<dd>Put in the postcode of your place of work. Move the slider to the
length of commute that you&rsquo;re willing to tolerate. House hunt only in
places highlighted.</dd>

<dt>How can it help me job hunt?</dt>
<dd>Put in the postcode of your current home. Move the slider to the
length of commute that you&rsquo;re willing to tolerate. Job hunt only in
places highlighted. <em>This would be better if we let you pick multiple
times and/or have &ldquo;depart after&rdquo; as well as &ldquo;arrive by&rdquo;.</em></dd>

<dt>How can it help me holiday?</dt>
<dd>Put in the postcode of your current home. Zoom out so you can see
more of the country. Then set the slider to an acceptable number of
hours you&rsquo;re willing to travel to go on your holiday.
<em>This would be better if we let you have &ldquo;depart after&rdquo; as well
as &ldquo;arrive by&rdquo;, and pick your departure time.</em></p>

</dl>

<h2>Behind the scenes</h2>

<dl>

<dt>Where does the public transport data come from?</dt>
<dd>The National Public Transport Data Repository. We had to buy it
from this public body for nearly £9000 quid, just so you can have this
service for free. Dumb, eh?</dd>

<dt>What day are the public transport journey times for?</dt>

<dd>The journey times shown are rough only, and you should not use them for
planning actual journeys. They are only valid for one Tuesday in October last
year, and the transport services will have changed since then.
</dd>

<dt>What modes of transport are covered?</dt>

<dd>Trains, buses, coaches, the underground, trams and ferries. Air travel is
not included, because NPTDR only contains flights connecting to Scotland.
</dd>

<dt>What are the interchange times and walking speeds?</dt>

<dd>The public transport journey times assume you can walk at 3mph as the crow
flies.  10 minutes walking is allowed between stations and to your final
destination, and 30 minutes walking at the start. 1 minute is allowed to change
buses at the same stop, and 5 minutes for changing train, coach, underground
and ferry at the same station.</dd>

<dt>Who are you?</dt>
<dd>We are <a href="http://www.mysociety.org/">mySociety</a>, a charity that
builds useful websites. For example, you can report potholes
or abandoned mozarella cheese using <a href="http://www.fixmystreet.com">FixMyStreet</a>, 
and check up on your MP's expenses using <a href="http://www.theyworkforyou.com">TheyWorkForYou</a>. 
</dd>

</dl>

</dl>
