<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{{ refresh|safe }}
<script type="text/javascript" src="/swfobject.js"></script>
<title>Contours of Life</title>
<link rel="stylesheet" type="text/css" href="/css.css">
</head>
<body{{ body_id|safe }}>

<div id="header">

<h1><a href="/">Contours of Life</a></h1>

<form method="get" action="/">
<label for="pc"><abbr title="Great Britain">GB</abbr> postcode:</label>
<input type="text" name="pc" value="{{ postcode }}" size="8" id="pc">
<input type="submit" value="Go">
(Oxford postcodes only for now)
</form>

</div>

<div id="content">
