{{ error }}

<p><img id="front-example" src="/example.png" alt="To arrive at Birmingham Art Gallery by 9am, and leave at 8:15am, you can start from many different locations, from Halesowen to Solihull. ">
Have you ever wondered where you should house hunt to get an
acceptable commute? Or job hunt? Or where you could go for the weekend
without spending that long on the train? Stick your postcode in this
box, and we&rsquo;ll help.</p>

<form method="get" action="/" id="pc-front">
<label for="pc_f"><abbr title="Great Britain">GB</abbr> postcode:</label>
<input type="text" name="pc" value="{{ postcode }}" size="8" id="pc_f">
<input type="submit" value="Go">
</form>

<p><strong>Please note:</strong> The maps generated show travel options
arriving at the closest stop or station to your postcode by public transport by
9am, based on October 2008 data. <em>Disclaimer: If you buy a house without having
double checked these results with the real transport authority, it ain&rsquo;t
our fault.</em>
</p>

<!--
<p>Examples:</p>
<ul>
<li><a href="/?pc=OX13DR">OX1 3DR</a>
<li><a href="/?pc=OX42HB">OX42HB</a>
<li><a href="/?pc=OX141AQ">OX141AQ</a>
<li><a href="/?pc=OX262XL">OX262XL</a>
<li><a href="/?pc=OX201LL">OX201LL</a>
</ul>
-->

