{% extends 'base.html' %}
{% block content %}

{% if error %}<div id="errors">{{ error }}</div>{% endif %}

<div id="main-column">

<p>Mapumental: A ninja tool for helping you house or job hunt within Great Britain.</p>

{% ifequal invite.maps_left 0 %}

<p>Your three maps are:
<ul style="font-size:200%; margin-top:0">
{% for p in invite.postcodes %}
<li><a href="/postcode/{{ p }}">{{ p }}</a></li>
{% endfor %}
</ul>

{% else %}

<form method="get" action="/" id="pc-front">
<p><label for="pc_f">Enter a <abbr title="Great Britain">GB</abbr> postcode:</label>
<input type="text" name="pc" value="{{ postcode }}" size="6" id="pc_f">
<input type="submit" value="Go"></p>
</form>

<p align="center">
You can generate <strong>{{ invite.maps_left }}</strong> map{{ invite.maps_left|pluralize }}
{% for p in invite.postcodes %}
| <a href="/postcode/{{ p }}">{{ p }}</a>
{% endfor %}
</p>

{% endifequal %}

</div>

<div id="side-map">
<h2>Most recent</h2>
<ul>
{% for p in most_recent %}
<li>{{ p.0 }}
{% endfor %}
</ul>
</div>

<div id="side-column">
<p id="mysoc-logo"><a href="http://www.mysociety.org/"><img src="http://www.mysociety.org/mysociety_sm.gif" alt="mySociety"></a></p>
<p>Mapumental helps you build custom maps that help you work out the optimal
place to live or work in order to have an easy commute and an affordable home.
It is a project of Channel 4 and mySociety &mdash;
<a href="/help">read more about the project</a>,
or <a href="/contact">get in touch</a>.</p>
</div>
{% endblock %}
