{% extends 'extends/base.html' %}

{% block fulltitle %}Mapumental{% endblock %}

{% block body_id %}home{% endblock %}

{% block subtitle %}
<p id="subtitle"><span></span>How far will you go?</p>
{% endblock %}

{% block content %}

{% if error %}<div id="errors">{{ error }}</div>{% endif %}

<div id="main-column">

<p>Mapumental: A ninja tool for helping you house or job hunt within Great Britain.</p>

{% ifequal invite.maps_left 0 %}

    {% if show_dropdown %}

        <p>Your maps:</p>
        <form method="get" action="/" id="pc-front">
        <select name="pc">{% for p in invite.postcodes %}<option>{{ p.1 }}</option>{% endfor %}</select>
        <input type="submit" value="Go">
        </form>

    {% else %}

        <p>Your maps are:
        <ul style="font-size:200%; margin-top:0">
        {% for p in invite.postcodes %}
        <li><a href="/postcode/{{ p.0 }}">{{ p.1 }}</a></li>
        {% endfor %}
        </ul>

    {% endif %}

{% else %}

<form method="get" action="/" id="pc-front">
<p><label for="pc_f">Enter a <abbr title="Great Britain">GB</abbr> postcode:</label>
<input type="text" name="pc" value="{{ postcode }}" size="6" id="pc_f">
<input type="submit" value="Go"></p>
</form>

<p align="center">
    {% if show_dropdown %}

        <form method="get" action="/">
        <p>Your previous maps:
        <select name="pc">{% for p in invite.postcodes %}<option>{{ p.1 }}</option>{% endfor %}</select>
        <input type="submit" value="Go">
        </form>

    {% else %}

        {% for p in invite.postcodes %}
            <a href="/postcode/{{ p.0 }}">{{ p.1 }}</a>
            {% if not forloop.last %} | {% endif %}
        {% endfor %}

    {% endif %}

</p>

{% endifequal %}

</div>

<div id="side-map">
<h2><img src="/i/most-recent.png" alt="Most Recent"></h2>
<ul>
{% for p in most_recent %}
<li>{{ p }}
{% endfor %}
</ul>
</div>

<div id="side-column">
<p>Mapumental helps you build custom maps that help you work out the optimal
place to live or work in order to have an easy commute and an affordable home.
It is a project of Channel 4 and mySociety &mdash;
<a href="/help">read more about the project</a>,
or <a href="/contact">get in touch</a>.</p>
</div>

<div id="map-footer">

<p id="footer-side">

{% if invite.num_invites %}
<a id="footer-invite" href="/invite">Invite <em>{{ invite.num_invites }}</em>
friend{{ invite.num_invites|pluralize }}</a>
{% else %}
<span id="footer-invite">You have no invites</span>
{% endif %}

| <a href="/help">Help</a>
| <a href="/contact">Contact</a>
| <a href="http://www.stamen.com/"><img src="/i/stamen.png" alt="Stamen" width="53" height="20" align="top"></a>
| <a href="http://www.mysociety.org/"><img src="/i/mysoc.png" alt="mySociety" width="90" height="20" align="top"></a>

</p>

</div>

{% endblock %}
