{% extends 'extends/base.html' %}

{% block fulltitle %}Mapumental{% endblock %}

{% block content %}

{% if error %}
<p id="errors">{{ error }}</p>
{% endif %}

<p style="float: right; margin-left: 1em">
<object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/vVZkHuomqfM&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/vVZkHuomqfM&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
</p>

<p>Hi,</p>

<p>We know people are super-keen to get their hands on Mapumental&rsquo;s
lovely maps of Great Britain, but the site is currently in a private beta-testing phase.
Sign up and we&rsquo;ll send you an invite when we&rsquo;re ready.</p>

<p>Yours,<br>mySociety, developers of Mapumental</p>

<form method="post" action="{{ self }}">
<p align="center"><label for="email">Email:</label>
<input type="text" name="email" id="email" value="{{ email }}">
<input type="submit" value="Request"></p>
</form>

<p><small>We will only use your email address to send you an invite code,
and updates about the site, such as when it goes public for all.</small></p>

{% endblock %}
