{% extends 'extends/base-thin.html' %}

{% block title %}Invite your friends{% endblock %}

{% block content %}

{% if error %}<p id="errors">{{ error }}</p>{% endif %}

{% if success %}<p id="success">{{ success }}</p>{% endif %}

<p>Invites to Mapumental are strictly limited whilst the site is in its private
beta-testing phase. You are amongst the chosen few and can invite someone
to also use the site. Think hard about who you owe favours to!</p>

<form method="post" action="{{ self }}">
<p align="center"><label for="friend">Email:</label>
<input type="text" name="friend" id="friend" value="{{ email }}">
<input type="submit" value="Request"></p>
</form>

<p><small>We will only use the email address to send an invite, nothing more.</small></p>
{% endblock %}

