{% extends 'base-thin.html' %}
{% block content %}

{% if error %}
<p id="errors">{{ error }}</p>
{% endif %}

<p>Hi,</p>

<p>We know people are super-keen to get their hands on Mapumental&rsquo;s
lovely maps, but the site is currently in a private beta-testing phase.
Sign up and we&rsquo;ll send you an invite when we&rsquo;re ready.</p>

<p>Yours,<br>mySociety, developers of Mapumental</p>

<form method="post" action="{{ self }}">
<p align="center"><label for="email">Email:</label>
<input type="text" name="email" id="email" value="{{ email }}">
<input type="submit" value="Request"></p>
</form>

<p><small>We will only use your email address to send you an invite code,
and updates about the site, such as when it goes public for all.</small></p>
{% endblock %}

