{% extends 'base-thin.html' %}

{% block title %}Please provide your email - {{ title }}{% endblock %}

{% block content %}
<p>There {{ state.new|pluralize:"is,are" }} {{ state.new }}
map{{ state.new|pluralize }} in a queue waiting to be made,
and {{ state.working }} map{{ state.working|pluralize:" is,s are" }}
currently being made.</p>

<p>We have guesstimated that with this workload, your map will take <strong>longer
than a minute</strong> to generate (our guesstimate is {{ approx_waiting_time }} seconds).
<!-- If you&rsquo;re happy to leave your browser window
for this length of time or more, please <a href="{{ self }}?wait=1">move to our Please Wait page</a>. -->

{% include "includes/email-form.html" %}

{% endblock %}

