<p>There {{ state.ahead|pluralize:"is,are" }} {{ state.ahead }}
map{{ state.ahead|pluralize }} in front of yours in a queue of
{{ state.new }}, and currently {{ state.working }}
map{{ state.working|pluralize:" is,s are" }} being made.</p>

<p>We have guesstimated that with this workload, your map will take <strong>longer
than a minute</strong> to generate. If you&rsquo;re happy to leave your browser window
for this length of time or more, please <a href="{{ self }}?wait=1">move to our Please Wait page</a>.
Alternatively, please provide your email address below and we will email you
when your map is ready to be looked at.</p>

<form method="post" action="{{ self }}">
<label for="email">Email:</label>
<input type="text" name="email" id="email" value="{{ email }}">
<input type="submit" value="Request">
</form>
