<p>Your map is waiting to be made; there {{ state.ahead|pluralize:"is,are" }}
<strong>{{ state.ahead }} map{{ state.ahead|pluralize }} in front</strong> of
yours in a queue of {{ state.new }}. 
Currently, {{ state.working }} map{{ state.working|pluralize:" is,s are" }} being made,
and we&rsquo;ve guesstimated it&rsquo;ll take {{ approx_waiting_time }} seconds until
yours is done.</p>

<p>This page will automatically refresh until it is done; if this doesn&rsquo;t
work in your browser, please wait a few seconds and then
<a href="{{ self }}">see if your map is ready</a>.</p>
