<p>Your map will load below &mdash; it may take a short while, please be patient.
Showing public transport travel options <strong>arriving</strong> at
your postcode by <strong>{{ target_latest_formatted }}</strong>.</p>

<div id="height-wrap">

<div id="swf">
    <script type="text/javascript" defer="defer"><!--
        var getParam = swfobject.getQueryParamValue;
        var flashvars = {
          // Cloudmade API key. This is required!
          'cloudmade_api_key': 'f42ed2bf2ce15484a17cef7fe5e6df0f',

          // Map center ('lat,lon') and zoom (int).
          'map_center':     '{{ centre_lat }},{{ centre_lon }}',
          'map_zoom':       11,

          // Geographical bounds of the map in 'N,S,E,W' format.
          // NOTE: center and zoom are ignored if an extent is provided.
          // 'map_extent': '',

          /*
           * These parameters control the mapping between RGB values in the iso tiles
           * and minutes of travel time. The minimums and maximums of each map to
           * each other directly.
           *
           * NOTE: This has changed slightly. RGB values now directly encode the number
           * of minutes travel time.
           */
          // Black is 0 minutes.
          // 'min_threshold':  0,
          // 'min_minutes':    0,
          // 'max_threshold':  0xFFFFFF,
          // 'max_minutes':    0xFFFFFF,
	  // The number of minutes to make available in the time slider.
          'show_minutes':   60 * 9,
          // The initial value of the time slider. (<= show_minutes)
          'initial_minutes': 60,

          // Minimum and Maximum map zoom levels.
          'min_zoom':       8,
          'max_zoom':       12,

          // Iso tile URL and format template.
          'iso_tile_url_base':    'http://{{ tile_web_host }}/tilecache.fcgi/{{ tile_id }}/iso',
          // {Z}, {X}, and {Y} here are replaced by the tile coordinate zoom, column and row, respectively.
          'iso_tile_url_format':  '{Z}/{X}/{Y}.png',
          // URL to get routes from
          'route_url_base': escape("{{ route_url_base|safe }}")
        };

        // Flash Player parameters
        var params = {
        };

        // HTML attributes
        var attributes = {
        };

        swfobject.embedSWF('/UKTransitTime.swf', 'swf', '100%', '100%', '9.0.0', null,
                           flashvars, params, attributes);

      //--></script>
</div>

</div>
