<config>
  <centerLabel>Department for Transport</centerLabel>
  <mapURL>sw1p4dr-640-32km/london_sw1p4dr_640_32km.png</mapURL>

  <overlay name="sw1p4dr_travel"
	       url="sw1p4dr-640-32km/tdiso-SW1P4DR-32000.png"
	       greyOfMin="255"
	       greyOfMax="155"
	       aboveColor="0xff593737"
	       belowColor="0xff373737"
	       sliderLabel="${d} mins"
	       sliderMin="0"
	       sliderMax="101"
	       sliderPrecision="1"
	       descriptionText="from ${l} to ${u} travel by public transport to the Department for Transport by 9am"
  />  
  <overlay name="sw1p4dr_house"
	       url="sw1p4dr-640-32km/housemask-SW1P4DR-32000m-1000000p.png"
	       greyOfMin="255"
	       greyOfMax="155"
	       aboveColor="0xff373759"
	       belowColor="0xff373737"	       
	       sliderLabel="£${d}"
	       sliderMin="0"
	       sliderMax="990000"
	       sliderPrecision="10000" 
	       descriptionText="where the median house price is between ${l} and ${u}"
  />      
  <labelURL>sw1p4dr-640-32km/london_sw1p4dr_640_32km_labels.png</labelURL>
</config>
