/* Generics */

html {
    height: 100%;
}

body {
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    line-height: 1.3125;
    height: 100%;
    margin: 0;
    padding: 0;
}

a:link {
    color: #4a8594;
}
a:visited {
    color: #051736;
}
a:active, a:hover, a:focus {
    color: #ff6908;
}

h1, h2 {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    line-height: 1;
}

dt {
    font-weight: bold;
    margin-top: 1.3125em;
}

img {
    border: none;
}

input {
    font-size: 99%;
}

#contact-form label {
    float: left;
    text-align: right;
    padding-right: 0.5em;
    width: 6em;
}

fieldset {
    border: none;
    padding: 0.5em;
}

fieldset div {
    margin-top: 2px;
    clear: left;
}
fieldset div.checkbox {
    padding-left: 6.5em;
}

/* Page generics */

#header {
    overflow: auto;
    color: #ffffff;
    background: #051736 url("/i/header-map.png") no-repeat 0 0;
    height: 128px;
}

#home #header {
    height: 256px; /* Larger heading on front page */
}

#header a:link, #header a:visited {
    color: #ffffff;
}

/* Image replacement - 100% span used for opaque, text-indent for transparent */
#header span {
    position: absolute;
    width: 100%;
    height: 100%;
}

#c4logo {
    float: right;
    margin: 24px;
    width: 60px; height: 80px;
    text-indent: -1000em;
    overflow: hidden;
    background: url("/i/logo-c4-small.png") 0 0 no-repeat;
}

#home #c4logo {
    margin: 48px;
    width: 120px; height: 160px;
    background: url("/i/logo-c4.png") 0 0 no-repeat;
}

h1 {
    margin: 0;
}

h1 a {
    color: #ffffff;
    text-decoration: none;
    float: left;
    margin: 24px;
    width: 337px; height: 78px;
    position: relative;
    cursor: pointer;
}

h1 a span {
    background: url("/i/title-small-hover.png") 0 0 no-repeat;
}

h1 a:hover span {
    /* Doesn't appear to work in IE6 without switching windows and back! */
    background: url("/i/title-small-hover.png") 0 -78px no-repeat;
}

#home h1 a {
    margin: 48px;
    width: 402px; height: 93px;
}

#home h1 a span {
    background: url("/i/title.png") 0 0 no-repeat;
}

p#subtitle {
    display: none; /* Only want subtitle on front page */
}

#home p#subtitle {
    display: inline; /* inline rather than block to work around IE6 double left margin bug */
    float: left;
    clear: left;
    margin: 0 0 0 48px;
    width: 265px; height: 40px;
    position: relative;
}
#home p#subtitle span {
    background: url("/i/subtitle.png") 0 0 no-repeat;
}

#content {
    margin: 1em auto;
    padding: 0 48px 1em;
    max-width: 60em;
}

#footer {
    text-align: center;
    padding: 1em 0;
    clear: both;
}

#errors {
    border: solid 1px #990000;
    background-color: #ffeeee;
    padding: 5px;
    width: 80%;
}
ul#errors {
    margin: 0;
    padding-left: 1.5em;
}

/* Map related pages */

#map-wait #content {
    max-width: 30em;
    padding: 0;
}

#map #content {
    width: 95%;
    height: 70%;
    margin: 1em auto;
    padding: 0;
    max-width: none;
}

#map #footer {
    padding: 0;
}

/* Front page */

#pc-front {
    font-size: 180%;
    margin: 1em 0;
}

#front-example {
    float: right;
    margin-left: 0.5em;
}

div#main-column {
    float: left;
    width: 81%;
}

div#side-column {
    float: right;
    width: 14%;
    color: #706357;
}
