html {
	height: 100%;
}

body {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	line-height: 1.3125;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	float: left;
	line-height: 1;
	margin: 0.375em 5px 0.375em;
}

form {
	float: right;
	margin: 1em;
}

#header {
	overflow: auto;
}

#content {
	margin: 1em;
	max-width: 60em;
}

#map-wait #content {
	max-width: 30em;
}

#map #content {
	width: 80%;
	height: 80%;
	margin: 1em auto;
	max-width: none;
}

