/* Generics */

html {
	height: 100%;
}

body {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	line-height: 1.3125;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	float: left;
	line-height: 1;
	margin: 0.375em 0 0.375em 0.5em;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

dt {
	font-weight: bold;
	margin-top: 1.3125em;
}

img {
	border: none;
}

input {
	font-size: 99%;
}

/* Page generics */

#header {
	overflow: auto;
}

#header form {
	float: right;
	margin: 1em;
}

#logos img {
	float: right;
	margin: 1em 1em 0 0;
}

#content {
	margin: 1em auto;
	padding: 0 1em;
	max-width: 60em;
}

#footer {
	text-align: center;
	padding: 1em 0;
	clear: both;
}

/* Map related pages */

#map-wait #content {
	max-width: 30em;
	padding: 0;
}

#map #content {
	width: 80%;
	height: 80%;
	padding: 0;
	max-width: none;
}

#map #footer {
	padding: 0;
}

/* Front page */

#pc-front {
	font-size: 200%;
	margin: 1em 0;
	text-align: center;
}

#front-example {
	float: right;
	margin-left: 0.5em;
}
