#c4logo {
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/logo-c4-small.png',sizingMethod='scale');
    cursor: pointer;
}

#home #c4logo {
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/logo-c4.png',sizingMethod='scale');
}

