/* Details page for BACS and Standing Order donations */

label {
    cursor: pointer;
    cursor: hand;
}

input.error, input[type=text].error, select.error, input[type=radio].error, textarea.error {
    border: solid 2px #990000;
    background-color: #ffdddd;
}
.errortext {
    color: #ff0000;
}

div.formrow {
    clear: both;
    padding-top: 0.5em;
}

div.formrow label {
    float:left;
    text-align: right;
    width: 30%;
}

div.formrow input {
    text-align: left;
    margin-left: 1%;
}

fieldset {
    border: solid 1px black;
    background-color: white;
    padding: 10px;
    margin: 0 0 1em 1em;
}

legend {
    font-weight: bold;
}
