body	{
	background: #fcfefc;
	font-family: verdana, helvetica, sans-serif;
    margin: 0 auto;
    max-width: 50em;
}

label {
	cursor: pointer;
	cursor: hand;
}

.top	{
	margin: 0 0 1em 20px;
	padding: 0;
	}
.masthead	{
	font-size: 2em;
	font-family: georgia, palatino, "times new roman", serif;
	font-weight: bold;
	color: #300;
	}
.masthead_proposals {
    color: #600;
}
.navigation {
    margin-top: 1em;
}
.menu	{
	padding:	5px;
	font:	14px/16px verdana, helvetica, sans-serif;
	background-color: #aabbee;
	border:	1px solid black;
	margin: 15px 0px 0px 0px;
	}
.controls	{ margin: -0.5em 0 1em 0.5em; font-family: verdana, helvetica, sans-serif; font-size: 0.9em; color: #666666; }
table.item {
	border-width:	 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: 	dotted dotted dotted dotted;
	border-color: 	black black black black;
	border-collapse: collapse;
	background-color: #f0f0ff;
}
table.item th {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: #f0f0ff;
}
table.item td {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: $f0f0ff
}
div.heading {
	font-size: 1.4em;
	font-weight: bold;
	color: #000;
	background-color: #f0f0ff;
	margin: 20px 0px 0px 0px;
}
div.item_head	{
	padding:	10px 10px 0px 10px;
	font-size: 1.4em;
	font-weight: bold;
	color: #000;
	background-color: #f0f0ff;
	border-top:	1px dashed black;
	border-left:	1px dashed black;
	border-right:	1px dashed black;
	margin: 15px 0px 0px 0px;

	}
div.item_inner_head	{
	padding:	10px 10px 0px 10px;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	background-color: #f0f0ff;
	border-left:	1px dashed black;
	border-right:	1px dashed black;
	margin: 0px 0px 0px 0px;
	}
div.meta	{
	padding:	0px 10px 2px 10px;
	font-size: 0.8em;
	font-weight: normal;
	color: #666;
	background-color: #f0f0ff;
	border-left:	1px dashed black;
	border-right:	1px dashed black;
	margin: 0px 0px 0px 0px;
	}

div.item	{
	padding:	5px 10px 2px 10px;
/* hollyhack for Internet Explorer creep
   See: http://www.positioniseverything.net/explorer/creep.html */
/* \*/
    height: 1%; padding-bottom: 2px; padding-top: 0.8em;
/* */
	font:	14px/16px verdana, helvetica, sans-serif;
	color:	#000;
	background-color: #f0f0ff;
	border-left:	1px dashed black;
	border-right:	1px dashed black;
	margin: 0px 0px 0px 0px;
	}
div.item ul,li {
    border-left: none;
    border-right: none;
}
div.item_foot	{
	padding:	0px 10px 2px 10px;
	font-size: 0.8em;
	font-weight: normal;
	color: #666;
	background-color: #f0f0ff;
	border-left:	1px dashed black; 
	border-right:	1px dashed black;
	border-bottom:	1px dashed black;
	margin: 0px 0px 0px 0px;
	}
div.page-body	{
	margin: 0 0 2em 20px;
	background: #FFFFFF;
    width: expression(document.body.clientWidth > (820/12) * parseInt(document.body.currentStyle.fontSize)?"50em":"auto");
	}
div#content {
    float: left;
    width: 70%;
    margin-bottom: 1em;
}
div#sidebar {
    float: right;
    width: 25%;
}
#page #content {
    float: none;
    width: 100%;
}
a	{
	text-decoration:	none;
	font-weight:	bold;
	}
a:link	{
	color:	#600;
	background-color: transparent;
	text-decoration:	none;
	}
a:visited	{
	color:	#300;
	background-color: transparent;
	text-decoration:	none;
	}
a:active	{
	color:	#600;
	background-color: transparent;
	text-decoration:	underline;
	}
a:hover	{
	color:	#600;
	background-color: transparent;
	text-decoration:	underline;
	}
.page-body form {
       margin: 1em 0; 
}

/* This is all rather messy, isn't it? */
.page-body p, .page-body li {
    line-height: 1.4;
}

ol.proposals li {
    margin-top: 1em;
}
ul.archive_list {
    padding-left: 1em;
}

/* Donations page */

#betteritemdiv {
    font-size: 14px;
    padding: 1em;
    background-color: #f0f0ff;
    border: dashed 1px black;
    margin-top: 1em;
}

#betteritemdiv h2 {
    font-size: 1.5em;
    margin: 0;
}

#donatebox {
    float: right;
    width: 32%;
    font-size: 83%;
    border: solid 1px black;
    background-color: white;
    padding: 10px;
    margin: 0 0 1em 1em;
}

#donatebox h3.d {
    border-top: dotted 1px #666666;
    padding-top: 0.5em;
}
#donatebox h3.f {
    margin-top: 0;
}

