<config>
  <centerLabel>Department for Transport</centerLabel>
  <mapURL>sw1p4dr-400-20km/london_SW1P4DR_20km_400.png</mapURL>

  <overlay name="sw1p4dr_travel_400"
	       url="sw1p4dr-400-20km/tdiso-SW1P4DR-20000.png"
	       greyOfMin="255"
	       greyOfMax="155"
	       aboveColor="0xff593737"
	       belowColor="0xff373737"
	       sliderLabel="${d} mins"
	       sliderMin="0"
	       sliderMax="101"
	       sliderPrecision="1"
	       descriptionText="from ${l} to ${u} travel time to the DfT by 9am"
  />  
  <labelURL>sw1p4dr-400-20km/london_SW1P4DR_20km_400_labels.png</labelURL>
</config>
