body	{
	background: #FFF;
	font-family: verdana, helvetica, sans-serif;
	font-size: 150%;
    margin: 20pt;
}
h1 {
	font-size: 150%;
    font-weight: bold; 
}
h2 {
	font-size: 125%;
    font-weight: bold; 
    clear: both;
}
blockquote {
    font-style: italic;
}
.project {
    border: solid 2px #522994;
    margin: 0 auto 1em;
    padding: 10px;
}
#pb {
    float: left;
    width: 45%;
    background-color: #f6e5ff;
/* c6b5de; */
}
#wtt {
    float: right;
    width: 45%;
    background-color: #ffe88c;
/* #f6e5ff; */
}

