body	{
	background: #FFF;
	font-family: verdana, helvetica, sans-serif;
	font-size: 150%;
    margin: 20pt;
}
h1 {
	font-size: 150%;
    font-weight: bold; 
}
blockquote {
    font-style: italic;
}


