body	{
	background: #fcfefc;
	font-family: verdana, helvetica, sans-serif;
	font-size: 150%;
    margin: 20pt;
}
h1 {
	font-size: 150%;
    font-weight: bold; 
}
h2 {
	font-size: 125%;
    font-weight: bold; 
    clear: both;
}
blockquote {
    font-style: italic;
}
.project {
    border: solid 2px #522994;
    margin: 0 auto 1em;
    padding: 10px;
}
#pb {
    float: left;
    width: 45%;
    background-color: #f6e5ff;
    border-bottom: solid 2px #522994;
}
#wtt {
    float: right;
    width: 45%;
    background-color: #ffe88c;
    border: solid 2px #314208;
}
#ycml {
    width: 45%;
    float: left;
    background-color: #eeffee;
    border: solid 1px #009900;
}
#gia {
    width: 45%;
    float: right;
    background-color: #f6e5ff;
    border-bottom: solid 2px #522994;
}
#dadem {
    width: 45%;
    float: left;
    border: solid 1px #999999;
}
#mapit {
    width: 45%;
    float: right;
    border: solid 1px #999999;
}

