body {
    background: #fcfefc;
    font-family: verdana, helvetica, sans-serif;
    margin: 0 auto;
    max-width: 50em;
}

dt {
    margin-top: 0.5em;
    font-weight: bold;
}

label {
    cursor: pointer;
    cursor: hand;
}

.top	{
	margin: 0 0 1em 20px;
	padding: 0;
	}
.masthead	{
	font-size: 2em;
	font-family: georgia, palatino, "times new roman", serif;
	font-weight: bold;
	color: #300;
	}
.masthead_proposals {
    color: #600;
}
.navigation {
    margin-top: 1em;
}
.menu	{
	padding:	5px;
	font:	14px/16px verdana, helvetica, sans-serif;
	background-color: #aabbee;
	border:	1px solid black;
	margin: 15px 0px 0px 0px;
	}
.controls	{ margin: -0.5em 0 1em 0.5em; font-family: verdana, helvetica, sans-serif; font-size: 0.9em; color: #666666; }
table.item {
	border-width:	 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: 	dotted dotted dotted dotted;
	border-color: 	black black black black;
	border-collapse: collapse;
	background-color: #f0f0ff;
}
table.item th {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: #f0f0ff;
}
table.item td {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: dotted dotted dotted dotted;
	border-color: black black black black;
	background-color: $f0f0ff
}
div.heading {
	font-size: 1.4em;
	font-weight: bold;
	color: #000;
	background-color: #f0f0ff;
	margin: 20px 0px 0px 0px;
}
div.item_head	{
	padding:	10px 10px 0px 10px;
	font-size: 1.4em;
	font-weight: bold;
	color: #000;
	background-color: #f0f0ff;
	border-top:	1px dashed black;
	border-left:	1px dashed black;
	border-right:	1px dashed black;
	margin: 15px 0px 0px 0px;

	}
div.item_inner_head	{
	padding:	10px 10px 0px 10px;
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	background-color: #f0f0ff;
	border-left:	1px dashed black;
	border-right:	1px dashed black;
	margin: 0px 0px 0px 0px;
	}
div.meta	{
	padding:	0px 10px 2px 10px;
	font-size: 0.8em;
	font-weight: normal;
	color: #666;
	background-color: #f0f0ff;
	border-left:	1px dashed black;
	border-right:	1px dashed black;
	margin: 0px 0px 0px 0px;
	}

div.item	{
	padding:	5px 10px 2px 10px;
/* hollyhack for Internet Explorer creep
   See: http://www.positioniseverything.net/explorer/creep.html */
/* \*/
    height: 1%; padding-bottom: 2px; padding-top: 0.8em;
/* */
	font:	14px/16px verdana, helvetica, sans-serif;
	color:	#000;
	background-color: #f0f0ff;
	border-left:	1px dashed black;
	border-right:	1px dashed black;
	margin: 0px 0px 0px 0px;
	}
div.item ul,li {
    border-left: none;
    border-right: none;
}
div.item_foot	{
	padding:	0px 10px 2px 10px;
	font-size: 0.8em;
	font-weight: normal;
	color: #666;
	background-color: #f0f0ff;
	border-left:	1px dashed black; 
	border-right:	1px dashed black;
	border-bottom:	1px dashed black;
	margin: 0px 0px 0px 0px;
	}
div.page-body	{
	margin: 0 0 2em 20px;
	background: #FFFFFF;
    width: expression(document.body.clientWidth > (820/12) * parseInt(document.body.currentStyle.fontSize)?"50em":"auto");
	}
div#content {
    float: left;
    width: 70%;
    margin-bottom: 1em;
}
div#sidebar {
    float: right;
    width: 25%;
}
#page #content {
    float: none;
    width: 100%;
}
a	{
	text-decoration:	none;
	font-weight:	bold;
	}
a:link	{
	color:	#600;
	background-color: transparent;
	text-decoration:	none;
	}
a:visited	{
	color:	#300;
	background-color: transparent;
	text-decoration:	none;
	}
a:active	{
	color:	#600;
	background-color: transparent;
	text-decoration:	underline;
	}
a:hover	{
	color:	#600;
	background-color: transparent;
	text-decoration:	underline;
	}
.page-body form {
       margin: 1em 0; 
}

/* This is all rather messy, isn't it? */
.page-body p, .page-body li, .page-body dt, .page-body dd {
    line-height: 1.4;
}

/* errors is for form errors */
input.error, input[type=text].error, select.error, input[type=radio].error, textarea.error {
    border: solid 2px #990000;
    background-color: #ffcccc;
}
#errors {
    color: #ff0000;
    background-color: #ffcccc;
    border: solid 2px #990000;
    padding: 3px;
}
#errors {
    margin: 0 auto 1em;
}
#errors ul {
    padding: 0;
    margin: 0 0 0 1.5em;
}

ol.proposals li {
    margin-top: 1em;
}
ul.archive_list {
    padding-left: 1em;
}

/*  screen.css - MoinMoin Default Styles

Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

/* content styles */

/* debug 
* {border: 1px dotted blue;}
*/

.moin {
    padding:0;
    border:0;
}

.moin  a:hover, h1 a:hover {color: #0044B3;}

.moin input {
    font-size: 1em;
    font-family: Arial, Lucida Grande, sans-serif;
}

.moin textarea {
    font-size: 1em;
    font-family: monospace;
}

.moin .disabled {
    /* IE ignore disabled attribute, but at least show items in gray */
    color: gray;
}

/* user interface styles */

.moin #header {
    margin: 0;
    padding: 0;
    /* background: #3D4551; */
    background: #E7E7E7;
}

.moin #logo {
    float: left;
    margin: 5px 10px;
    padding: 0;
    /* For text only logo */
    font-size: 22px;
    line-height: 1em;
    font-weight: bold;
}

.moin #logo img {
    vertical-align: middle;
}

.moin #logo a {
    color: black;
    text-decoration: none;
}

.moin *[dir="rtl"] #logo {
    float: right;
}

.moin #username {
    margin: 0 10px;
    padding: 8px 0 0 0;
    text-align: right;
    font-size: 12px;
    white-space: nowrap;
}

.moin *[dir="rtl"] #username {
    text-align: left;
}

.moin #username li {
    display: inline;
    padding: 0 2px;
}

.moin #username li:before {
	content: "| ";
    color: black;
}

.moin #username li:first-child:before {
	content: "";
}

.moin #searchform {
	float: right;
	margin: 5px 10px;
	padding: 0;
	white-space: nowrap;
	font-size: 13px;
}

.moin *[dir="rtl"] #searchform {
	float: left;
}

.moin #searchform form div {
    display: inline;
}

.moin #pagetrail {
	clear: both;
	margin: 0;
	padding: 0 10px;
	font-size: 13px;
}

.moin #pagetrail li {
	float: left;
	display: block;
	padding: 0 2px;
	margin: 0 0 5px 0;
}

.moin *[dir="rtl"] #pagetrail {
	float: right;
}

/* XXX Warning: non-ascii characters! */
.moin #pagetrail li:after {
	content: " » ";
	color: black;
}

.moin *[dir="rtl"] #pagetrail li:after {
	content: " « ";
}

.moin #navibar {
	clear: both;
	display: block;
	margin: 0;
	padding: 0 10px;
	font-size: 13px;
}

.moin #navibar li {
	float: left;
	display: block;
	margin: 0 2px;
	padding: 2px 5px;
	border: 1px solid #9C9C9C;
	border-bottom: none;
	white-space: nowrap;
}

.moin *[dir="rtl"] #navibar li {
	float: right;
}

.moin #navibar li.wikilink {
	background: white /*url(../img/tab-wiki.png) repeat-x;*/
}

.moin #navibar li.userlink {
	background: #E6EAF0 /*url(../img/tab-user.png) repeat-x;*/
}

.moin #navibar a, #navibar a:visited {
	color: black;
	text-decoration: none;    
}

.moin #navibar li.current a {
	font-weight: bold;
}

.moin #navibar li:hover {
	background: #CCCCCC;
}

.moin #navibar li.current, #navibar li.current:hover {
	background: #81BBF2 /* url(../img/tab-selected.png) repeat-x; */
}

.moin #pageline {
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%;
	/* sync these values, line-height is needed for IE */
		height: 4px;
		line-height: 4px;
	border-bottom: 1px solid #9C9C9C;
	background: #81BBF2;
}

.moin .editbar {
	clear: both;
	margin: 0;
	padding: 0 8px;
	white-space: nowrap;
	height: 26px;
	background: white;
	font-size: 13px;
}

.moin .editbar form, .editbar form div {
    display: inline;
	margin: 0;
}

.moin .editbar li {
	float: left;
	display: block;
	padding: 0;
	margin: 2px 6px;
}

.moin *[dir="rtl"] .editbar li {
	float: right;
}

.moin #header .editbar {
	border-bottom: 1px dotted #9C9C9C;
}

.moin #footer .editbar {
	border-top: 1px dotted #9C9C9C;
	border-bottom: 1px solid #9C9C9C;
}

.moin .editbar a, .editbar a:visited {color: #0044B3;}

.moin #message {
	clear: both;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #c9c9c9;
	background: #E6EAF0;
}

.moin #message p{
	margin: 5px 0;
	padding: 0;
	font-weight: bold;
}

.moin #message div.buttons {
	font-weight: normal;
}

.moin .dialog form {
    margin: 0 15px;
}

.moin .dialog td {
    border: none;
    padding: 5px;
}

.moin .dialog td.label {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

.moin *[dir="rtl"] .dialog td.label {
    text-align: left;
}

.moin .dialog td.content input {
    width: 100%;
}

.moin #page {
	background-color: white;
	margin: 0;
	padding: 10px 30px 20px 30px;
}

/* We use here dumb css1 ids because of IE suckiness */
.moin #editor-textarea, #editor-comment {
    width: 100%;
}

.moin #preview {
	border: 1px solid #6C7680;
	padding: 10px 30px 20px 30px;
	background: url(/wiki/mstheme/img/draft.png);
}

.moin #footer {
	clear: both;
	margin: 0;
	padding: 0;
}

.moin #credits, #version, #timings{
	margin: 5px 10px;
	padding: 0;
	text-align: center;
	font-size: 0.88em;
	color: #6C7680;
	font-size: 12px;
}

.moin #credits li, #timings li {
	display: inline;
	padding: 0 2px;
	margin: 0 4px;
}

.moin #credits img {
	vertical-align: middle;
}

.moin .diff {
	width:99%;
}

.moin .diff-header {
	font-weight: bold;
}

.moin .diff-title {
	background-color: #C0C0C0;
}

.moin .diff-added {
	background-color: #E0FFE0;
	vertical-align: sub;
}

.moin .diff-removed {
	background-color: #FFFFE0;
	vertical-align: sub;
}

.moin .diff-added span {
	background-color: #80FF80;
}

.moin .diff-removed span {
	background-color: #FFFF80;
}

/* Donations page */

#betteritemdiv {
    font-size: 14px;
    padding: 1em;
    background-color: #f0f0ff;
    border: dashed 1px black;
    margin-top: 1em;
}

#betteritemdiv h2 {
    font-size: 1.5em;
    margin: 0;
}

#donatebox {
    float: right;
    width: 32%;
    font-size: 83%;
    border: solid 1px black;
    background-color: white;
    padding: 10px;
    margin: 0 0 1em 1em;
}

#donatebox h3.d {
    border-top: dotted 1px #666666;
    padding-top: 0.5em;
}
#donatebox h3.f {
    margin-top: 0;
}

