<config>
  <centerLabel>BBC Television Center</centerLabel>
  <mapURL>w127rj-800-20km/london_W127RJ_800.png</mapURL>

  <overlay name="w127rj_travel"
	       url="w127rj-800-20km/tfliso-W127RJ-20000.png"
	       greyOfMin="255"
	       greyOfMax="155"
	       aboveColor="0xff593737"
	       belowColor="0xff373737"
	       sliderLabel="${d} mins"
	       sliderMin="0"
	       sliderMax="101"
	       sliderPrecision="1"
	       descriptionText="from ${l} to ${u} travel by public transport to the BBC TV Center by 9am"
  />  
  <overlay name="w127rj_house"
	       url="w127rj-800-20km/housemask-W127RJ-20000m-1000000p.png"
	       greyOfMin="255"
	       greyOfMax="155"
	       aboveColor="0xff373759"
	       belowColor="0xff373737"	       
	       sliderLabel="£${d}"
	       sliderMin="0"
	       sliderMax="990000"
	       sliderPrecision="10000" 
	       descriptionText="where the median house price is between ${l} and ${u}"
  />      
  <labelURL>w127rj-800-20km/london_W127RJ_800_labels.png</labelURL>
</config>
